.title {
  font-family: "Roboto Mono", Times, serif;
  padding-top: 0%;
  padding-left: 5%;
}
.title p{
  font-size: 12px;
}

h4 {
  margin-right: -5px;
  font-family: "Roboto Mono", Times, serif;
  font-size: 15px;
  display:inline-block;
  align-items: center;
  max-width: 200px;
  min-width: 200px;
  max-height: 200px;
}

.grid{
  padding-top: 3%;
  padding-left: 5%;
}

.tooltip {
  background: #eee;
  opacity: 0.9;
  box-shadow: 0 0 2px #999999;
  color: #333;
  display: none;
  font-size: 15px;
  left: 130px;
  width:auto;
  padding: 1%;
  position: absolute;
  text-align: center;
  top: 95px;
  z-index: 10;
}
